<li class="list-group-item comment-alt">
  <div><%= comment.score %> points | <%= comment.author %></div>
  <div class="content">
    <p><%= comment_html_body(comment).html_safe %></p>
  </div>
  <% if comment.comments.present? %>
    <ul class="list-group">
      <% comment.comments.each do |child| %>
        <%= render partial: "comment_base", locals: {comment: child} %>
      <% end %>
    </ul>
  <% end %>
</li>
